.container-activites {
    width: 100%; 
}
.box-activites {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: 450px;
}
.card-activites {
    width: 22.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 0;
}

.card-image-long {
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.card-image-long img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.card-body-activites {
    padding: 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 13px;
}

.card-image-short {
    height: 137px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card-image-short img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.card-image-pomegues {
    height: 143px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card-image-pomegues img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.card-image-frioul {
    height: 134px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card-image-frioul img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
@media screen and (max-width: 992px) {
    .card-activites {
        width: 21%;
    }
}
@media screen and (max-width: 768px) {
    .container-activites{
        margin-left: 20px;
    }

    .card-activites {
        width: 90%;
        height: 250px;
      }
      .card-image-long, .card-image-short, .card-image-frioul, .card-image-pomegues {
        height: 180px;
      }

      .card-image-long img, .card-image-short img, .card-image-frioul img, .card-image-pomegues img{
        width: 100%;
      }
      
      .card-body-activites {
        font-size:20px;
      }
      .box-activites {
        height: auto;
    }
}
