header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo-booki {
    width: 100px;
    margin-top: 41px;
    margin-bottom: 32px;
    margin-left: 15px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .link-header a {
    border-top: 3px solid transparent;
    padding: 47px;
  }
  
  .link-header a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }

  #filter {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
  
  .filter-button {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 50px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .filter-fa-icon {
    display: inline-flex;
    border-radius: 50%;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    transform: translate(-10px, -3px);
  }
  
  .filter-label {
    margin: auto;
    font-weight: bold;
  }
  #filter-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    font-weight: bold;
  }