.afficher-plus {
    font-weight: bolder;
}

.search-input {
    margin-top: 30px;
    display: flex;
}
.search-input > * {
    padding: 14px 18px;
    margin: 10px 0;
}
#search-input-text {
    color: black;
    font-weight: bolder;
    border: 1px solid #f2f2f2;
    font-size: 18px;
}

.marker {
    color: black;
    font-size: larger;
}
.marker-container {
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#button-search {
    color: white;
    background-color: #0065fc;

    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    border: transparent;
}
.search-icon {
    display: none;
}
.fa-icon {
    margin: auto;
}

.fa-info-circle {
    margin-right: 20px;
    margin-bottom: 40px;
}

#filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.filter-button {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 50px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bolder;
}

.filter-button:hover {
    color: #0065fc;
}

.filter-button:hover .fa-icon {
    color: black;
}

.filter-button:hover .filter-fa-icon {
    background-color: #0065fc;
}

.filter-fa-icon {
    display: inline-flex;
    border-radius: 50%;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    transform: translate(-10px, -3px);
}

.filter-label {
    margin: auto;
    font-weight: bold;
}
#filter-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    font-weight: bold;
}

#recherche-info {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 992px) {
    #filter {
      gap: 10px;
    }
    .filter-button {
      height: 40px;
      font-size: 15px;
    }
  
    .filter-fa-icon {
      width: 39.5px;
      height: 39.5px;
      transform: translate(-10px, -3px);
    }
  }
  
@media screen and (max-width: 768px) {
    #search-input-text {
        flex: 2 1 auto;
    }
    .search-input {
        flex-wrap: nowrap;
        width: 80%;
    }

    .search-icon {
        display: block;
        color: white;
    }

    .search-text {
        display: none;
    }

    #filter {
        flex-wrap: wrap;
    }
    #filter-title {
        flex: 0 0 100%;
    }
    .filter-button {
        height: 50px;
        font-size: 18px;
    }

    .filter-fa-icon {
        width: 50px;
        height: 50px;
        transform: translate(-10px, -3px);
    }
}
