body {
  font-family: "Raleway", sans-serif;
  justify-content: center;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-booki {
  width: 100px;
  margin-top: 41px;
  margin-bottom: 32px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: black;
}
.link-header a {
  border-top: 3px solid transparent;
  padding-top: 48px;
  margin-right: 10px;
}

.link-header a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
.title {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  
}
.title-hebergement
{
  margin-left: 40px;
  flex: 0 0 100%
}
.title-populaire
{
  margin-left: 40px;
  flex: 0 0 80%;
}

.fa-line-chart{
  font-weight: bolder;
  color: black;
}
.header-populaire{
  display: flex;
  width:100%
}
.afficher-plus{
  font-weight: bolder;
}

.search-input {
  margin-top: 30px;
  display: flex;
}
.search-input > * {
  padding: 14px 18px;
  margin: 10px 0;
}
#search-input-text {
  color: black;
  font-weight: bolder;
  border: 1px solid #f2f2f2;
  font-size: 18px;
}
i {
  color: #0065fc;
}
.marker {
  color: black;
  font-size: larger;
}
.marker-container {
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#button-search {
  color: white;
  background-color: #0065fc;

  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 18px;
  border: transparent;
}
.search-icon {
  display: none;
}
.container-hebergement-populaire
{
  display:flex;
  width: 100%;
  
}

.box-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px; 
}
.container-hebergement{
  flex: 0 0 70%;
  margin-right: 40px;
}

.container-hebergement{
  flex: 0 0 25%;
  margin-right: 20px;
}

.container-activites
{
  display:flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.box-hebergement{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width:70em;
  margin-right: 20px;
}
.box-populaire{
  display:flex;
  flex-direction: column;
  width:30em;
}
footer {
  background-color: #f2f2f2;
}

#filter {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.filter-button {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  height: 50px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.filter-fa-icon {
  display: inline-flex;
  border-radius: 50%;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  transform: translate(-10px, -3px);
}

.filter-label {
  margin: auto;
  font-weight: bold;
}
#filter-title {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  font-weight: bold;
}
p {
  margin: 8px 0;
}

.fa-icon {
  margin: auto;
}
.gray-star
{
  color: #D9D9D9;
}
.fa-info-circle {
  margin-right: 20px;
  margin-bottom: 40px;
}

.filter-button:hover {
  color: #0065fc;
}

.filter-button:hover .fa-icon {
  color: black;
}

.filter-button:hover .filter-fa-icon {
  background-color: #0065fc;
}
#recherche-info {
  display: flex;
  justify-content: flex-start;
}

footer {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-title {
  font-weight: bolder;
}

.card {
  width: 18em;
  height: 15em;
  border-radius: 25px;
  background-color: white;
}
.card-populaire {
  width: 26em;
  height: 10em;
  border-radius: 25px;
  background-color: white;
}

.card-image {
  height: 9em;
  position: relative;
  overflow: hidden;
  margin-top:0.4em;
  margin-left:0.4em;
  margin-right:0.4em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card-image-populaire {
  height: 9.5em;
  width: 10em;
  position: relative;
  overflow: hidden;
  margin-top:0.2em;
  margin-left:0.4em;
  margin-right:0.4em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  float:left;
}
.card-image img {
  width: 18em;
  height: 13em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.card-image-populaire img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.card-body {
  padding: 5px 30px;
  box-sizing: border-box;
}
.card-body-populaire {
  padding: 30px 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  #filter {
    gap: 10px;
  }
  .filter-button {
    height: 40px;
    font-size: 15px;
  }

  .filter-fa-icon {
    width: 39.5px;
    height: 39.5px;
    transform: translate(-10px, -3px);
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .link-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .link-header a {
    flex: 1;
    text-align: center;
    width: 50%;
    border-bottom: 3px solid transparent;
    border-top: none;
    padding-top: 0;
    padding-bottom: 12px;
  }
  .link-header a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .link-text {
    font-size: 18px;
  }

  #search-input-text {
    flex: 2 1 auto;
  }
  .search-input {
    flex-wrap: nowrap;
    width: 100%;
  }

  .search-icon {
    display: block;
    color: white;
  }
  .search-text {
    display: none;
  }
  #filter {
    flex-wrap: wrap;
  }
  #filter-title {
    flex: 0 0 100%;
  }
  .filter-button {
    height: 50px;
    font-size: 18px;
  }

  .filter-fa-icon {
    width: 50px;
    height: 50px;
    transform: translate(-10px, -3px);
  }

  footer {
    flex-direction: column;
  }
}
